/* Default styles */
.Ncode__card-container {
  margin-top: 5vh;
  display: flex;
  height: auto;
  flex-direction: column;
}
.Ncode__card-conatainer-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw; 
}

.item {
  background-color: #ffffffc9;
  width: 40%; 
  margin-bottom: 2rem; 
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.item:hover {
  transform: translateY(-5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 19rem;
  object-fit: cover;
}

.card__content {
  padding: 4rem 2rem;
  min-height: 300px;
}

.card__header {
  font-size: 2.5rem;
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--heading);
  margin-bottom: 1.5rem;
}

.card__text {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #535252b6;
  margin-bottom: 2.5rem;
}

.card__btn {
  background-color: var(--heading);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-weight: 600;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  width: 100%; 
}

.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}


.card__btn:hover {
  opacity: .8;
}

.card__btn:hover span,
.card__btn:active span {
  margin-left: 1.5rem;
}

/* ============================================Responsive Design ====================================  */
@media screen and (max-width: 1200px) {
  .item {
    width: 30%; 
  }

}

@media screen and (max-width: 950px) {
  .item {
    width: 80%;
    margin: 5vh auto;
  }
  .Ncode__card-container{
    flex-direction:column;
  }
  .Ncode__card-conatainer-row{
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .item {
    width: 80%;
  }
  .card__header{
    font-size: 1.9rem;
  }
  .card__text{
    font-size: 1.2rem;
  }
}
